package components

templ NotFound(path templ.SafeURL) {
    <!DOCTYPE html>
    <html>
    <body>
      <p>This Page does not exist</p>
      <br>
      <a href={ path }>Go to { string(path) }</a>
    </body>
    </html>
}

